<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>Personal Sam — <%= @type.to_s.upcase %> Video</title>
    <link>http://personalsam.com</link>
    <language>en-us</language>
    <copyright>&#169; <%= Time.now.year %> Sam Soffes</copyright>
    <itunes:subtitle>My daily-ish video journal</itunes:subtitle>
    <itunes:author>Sam Soffes</itunes:author>
    <itunes:summary>Personal Sam is Sam Soffes' daily-ish video journal about with rambling about what he's working on, doing day to day, etc. It's more for archival purposes than anything.</itunes:summary>
    <description>Personal Sam is Sam Soffes' daily-ish video journal about with rambling about what he's working on, doing day to day, etc. It's more for archival purposes than anything.</description>
    <itunes:owner>
      <itunes:name>Sam Soffes</itunes:name>
      <itunes:email>sam@soff.es</itunes:email>
    </itunes:owner>
    <itunes:image href="http://personalsam.s3.amazonaws.com/personal-sam-2048x2048.png" />
    <itunes:category text="Technology">
      <itunes:category text="Podcasting"/>
    </itunes:category>
    <itunes:explicit>clean</itunes:explicit>
    <atom:link href="http://personalsam.com/feed/<%= @type %>.xml" rel="self" type="application/rss+xml" />

    <% @episodes.each do |episode| %>
    <item>
      <title><%= episode.title %></title>
      <itunes:author>Sam Soffes</itunes:author>
      <% if episode.description %>
      <itunes:subtitle><%= episode.subtitle %></itunes:subtitle>
      <itunes:summary><![CDATA[<%= raw episode.description_html %>!]]></itunes:summary>
      <description><%= episode.description %></description>
      <% end %>
      <itunes:image href="<%= episode.poster_url(@type) %>" />
      <enclosure url="<%= episode.video_url(@type) %>" length="<%= episode.file_size(@type) %>" type="<%= episode.content_type(@type) %>" />
      <guid>http://personalsam.com/<%= episode.slug %>?<%= @type %></guid>
      <pubDate><%= episode.published_at.rfc2822 %></pubDate>
      <itunes:duration><%= episode.duration %></itunes:duration>
    </item>
    <% end %>
  </channel>
</rss>
