<!DOCTYPE html>
<html>
<head>
  <title>Personal Sam</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? && MIXPANEL_TOKEN %>
  <script>(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("<%= MIXPANEL_TOKEN %>");</script>
  <% end %>
</head>
<body>
  <header>
    <h1><a href="/" rel="home">Personal Sam</a></h1>
    <h2>My daily-ish video journal</h2>
  </header>
  <main>
    <%= yield %>
  </main>
<%= javascript_include_tag 'externals' %>
<% if Rails.env.production? && MIXPANEL_TOKEN %>
  <script>mixpanel.track('Page View',{'Title':document.title,'URL':window.location.pathname});</script>
<% end %>
</body>
</html>
